div.container-fluid
    div.row
        div.col-sm-12
            h1
                |Try out the webScraper by filling in the form below
            form(name='form')
                h4
                    |This app was tested on 
                    a(href='http://www.imdb.com/showtimes/?ref_=nv_tp_sh_3')
                        |http://www.imdb.com/showtimes/?ref_=nv_tp_sh_3 
                    |using the class 
                    strong
                        |item_list 
                    |and 
                    a(href='https://news.ycombinator.com/')
                        |https://news.ycombinator.com/
                    |using the class 
                    strong
                        |title 
                    |. The scraper contains a premade module for gathering data from imdb.
                    
                div.form-group
                    label(for='site-url-input')
                        |Site URL 
                        span(ng-show='form.url.$dirty && form.url.$invalid')
                            span.label.label-danger(ng-show="form.url.$error.required")
                                |URL Required
                            span.label.label-danger(ng-show="form.url.$error.url")
                                |URL Invalid
                    input(type='url', id='site-url-input', name='url', required, ng-model='scrape.url').form-control
                div.form-group
                    label(for='class-input')
                        |Class 
                        span(ng-show='form.class.$dirty && form.class.$invalid')
                            span.label.label-danger(ng-show="form.class.$error.required")
                                |URL Required
                            span.label.label-danger(ng-show="form.class.$error.text")
                                |URL Invalid
                    input(type='text', id='class-input', name='class', required, ng-model='scrape.class').form-control
                h2
                    |Custom Scraper Example for Hacker News
                pre
                    |{{codeExample}}
                h4
                    |The modules has access to 
                    strong 
                        |cheerio
                    |, 
                    strong  
                        |Q 
                    |and 
                    strong
                        |request
                    |. It must take one parameter that is a String containing html and must return a promise
                div.form-group
                    label(for='scraper-module-input')
                        |Custom Scraper Module
                    textarea(type='text', id='scraper-module-input', ng-model='scrape.function', rows='6').form-control
                button(ng-click='submit(scrape)', ng-disabled='form.$invalid || !form.$dirty').btn.btn-primary
                    |Submit
    div.row
        div.col-sm-12
            h1
                |Results
            pre
                |{{result}}
    img(src='/images/ajax-loader.gif', ng-show='waiting')#waiting